stages:
  - build
  - push
  - cleanup

variables:
  IMAGE_NAME: my-cpp-app
  CI_REGISTRY_IMAGE: $CI_REGISTRY/$CI_PROJECT_PATH
  DOCKER_IMAGE_TAR: image.tar

image: docker:24.0

services:
  - docker:dind

before_script:
  - echo "Logging in to GitLab Registry..."
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" "$CI_REGISTRY"

build_image:
  stage: build
  script:
    - echo "Building Docker image..."
    - docker build -t $IMAGE_NAME .
    - docker save -o $DOCKER_IMAGE_TAR $IMAGE_NAME
  artifacts:
    paths:
      - $DOCKER_IMAGE_TAR
    expire_in: 1 hour
  rules:
    - if: $CI_COMMIT_TAG
      when: on_success
    - when: manual

push_image:
  stage: push
  script:
    - echo "Loading Docker image from artifacts..."
    - docker load -i $DOCKER_IMAGE_TAR
    - echo "Tagging and pushing image to GitLab Registry..."
    - docker tag $IMAGE_NAME $CI_REGISTRY_IMAGE:$CI_COMMIT_TAG
    - docker push $CI_REGISTRY_IMAGE:$CI_COMMIT_TAG
    - eval 'echo "Pushed image $CI_REGISTRY_IMAGE:$CI_COMMIT_TAG"'
  needs: ["build_image"]
  rules:
    - if: $CI_COMMIT_TAG
      when: on_success
    - when: manual

cleanup:
  stage: cleanup
  script:
    - echo "Deleting image from GitLab Runner...";
    - docker rmi $CI_REGISTRY_IMAGE:$CI_COMMIT_TAG || true;
  rules:
    - if: $CI_COMMIT_TAG
      when: on_success
    - when: manual
