apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-my-app-service
spec:
  selector:
    app: my-app
  ports:
    - protocol: TCP
      port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.targetPort }}
